body {
    margin: 0;
    padding: 0;
    background: #f3f6ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    width: 95%;
    padding: 12px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #003fba;
}

.switch {
    color: blue;
    cursor: pointer;
}
